a {
color: blue;
}
a.list1 {
color: #FFBB00;
}
a.list2 {
color: #800000;
}
#exam10
{
color: #56c500;
}

a {
    color: blue;
    }
    #exam10
    {
    color: #56c500;
    }
    a.list1 {
    color: #FFBB00;
    }
    a.list2 {
    color: #800000;
    }

    p.ex4{
        color: #00ff00;
        }
        
        p.ex5{
            color: #00ea00;
            background-color:#fa2f2f;
        }
        body.body5{
            background: #ff0000 url("/NazarYanevych.github.io/front_end_yanevych_ipz14/lab1_yanevych/image/ball.jpg") no-repeat fixed 5cm 5cm;
        }