a {
color: blue;
}
a.list1 {
color: #FFBB00;
}
a.list2 {
color: #800000;
}
#exam10
{
color: #56c500;
}

a {
    color: blue;
    }
    #exam10
    {
    color: #56c500;
    }
    a.list1 {
    color: #FFBB00;
    }
    a.list2 {
    color: #800000;
    }

    p.ex4{
        color: #00ff00;
        }
        
        p.ex5{
            color: #00ea00;
            background-color:#fa2f2f;
        }
        body.body5 {
            background-image: url("../image/ball.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
           p.ex6{font-family: Arial, Candara, Century-Gothic, sans-serif}