a {
color: blue;
}
a.list1 {
color: #FFBB00;
}
a.list2 {
color: #800000;
}
#exam10
{
color: #56c500;
}

a {
    color: blue;
    }
    #exam10
    {
    color: #56c500;
    }
    a.list1 {
    color: #FFBB00;
    }
    a.list2 {
    color: #800000;
    }

    p.ex4{
        color: #00ff00;
        }
        
        p.ex5{
            color: #00ea00;
            background-color:#fa2f2f;
        }